/* 
    DEBUG 
*/
.ms_card {
    border: 2px solid black;
}

/* 
    GENERAL 
*/
header,
.ms_about {
    color: white;
}


/* 
    HEADER 
*/
.header_top {
    background-color: #2C3E50;
}

.header_bottom,
.ms_about {
    background-color: #1ABC9C;
}


/* 
    MAIN 
*/

/* 
    FOOTER 
*/