/* 
    DEBUG 
*/

/* 
    GENERAL 
*/
header,
.ms_about {
    color: white;
}

.header_bottom,
.ms_about {
    background-color: #1ABC9C;
}

.header_top {
    background-color: #2C3E50;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

.ms_contact a {
    color: black;
}

img {
    width: 100%;
}

/* 
    HEADER 
*/
.ms_img-avatar {
    width: 250px;
}

/* 
    MAIN 
*/
.ms_card {
    100%
}


/* 
    FOOTER 
*/